@page
@model BattleShipLite2._5.Pages.BattleShipLite2Model
@{

}

<h1> BattleShiplite2.5</h1>
<form method="post">
    <div class="form-group">
        <input asp-for="NamePlayer1" type="text" placeholder="First name of player 1" />
        <br />
        <br />
        <input asp-for="NamePlayer2" type="text" placeholder="First name of player 2" />
        <button type="submit" class="alert-danger" >Submit</button>
    </div>



</form>
